@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Spartan';
  src: url('../assets/fonts/Spartan-Regular.ttf') format("truetype"),
        url('../assets/fonts/Spartan-Bold.ttf') format("truetype");
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  background: vars.$dark-blue;
}

html {
  font-size: vars.$base-font-size;
}
